{
    "root": true,
    "extends": [
        "eslint:recommended"
    ],
    "env": {
        "es6": true,
        "node": true
    },
    "parserOptions": {
        "sourceType": "module", // commonJS → ES6
        "ecmaVersion": 9 // ECMA2018, asyncでエラーが出るため, update 2017→2018 スプレッド演算子をサポートするため
    }
}
